*
{
    font-family: 'Roboto Mono', monospace;
    line-height: 1.5;
}
.til-fin
{
    margin-left:10px;
}
.topic
{
    padding:5px;
    background-color: rgb(255,192,190);
}
.codes
{
    width:30%;
    background-color: paleturquoise;
    padding:10px;
}
.codes2
{
    width:50%;
    background-color: paleturquoise;
    padding:10px;
}
.in
{
    text-indent:5%;
}
.highlight
{
    background-color: orangered;
    color:white;;
    text-decoration: underline;
    padding:5px;
    width:15%;
    text-align:center;
}
.vec
{
    color:black;
    text-decoration: none;
}
.def
{
    border:1.5px solid black;
    margin:5px;
}
td
{
    border:1.5px solid black;
    margin:1%;
    padding:1%;
}
.col1
{
    width:10%;
}
.col2
{
    width:50%;
}